<h1>All User Loans</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Check Out Date</th>
		<th>Due Date</th>
	</tr>
	<% @loans.each do |loan| %>
		<tr>
			<td> <%= Book.find(loan.book_id).title %> </td>
			<td> <%= loan.checkout_date %> </td>
			<td> <%= loan.due_date %> </td>
		</tr>
	<% end %>
</table>

<p>Money owned? : </p>
<p>

</p>

