<h1>All User Loans</h1>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Check Out Date</th>
		<th>Due Date</th>
	</tr>
	<% @loans.each do |loan| %>
		<tr>
			<td> <%= link_to Book.find(loan.book_id).title, book_path(loan.book_id) %></td>
			<td> <%= loan.checkout_date %> </td>
			<td> <%= loan.due_date %> </td>
		</tr>
	<% end %>
</table>

<p>Money owned? </p>
<p>
	<%= number_to_currency(Loan.money_owed current_user) %>
</p>


